@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_layout";
}

<div class="jumbotron text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">Something went wrong!</h1>
        <p>you should not be here...</p>
    </div>
</div>