@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@{
    Layout = "_layout";
}

<!-- Jumbotron, w title -->
<div class="jumbotron text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">UmbracoTest</h1>
        <p>And this is <span class="font-weight-bold">only</span> the beginning.</p>
    </div>
</div>

<!-- Content -->
<div class="container">
    <div class="row section">
        <div class="col-md-12">

        </div>
    </div>
</div>

<!-- Grey Banner -->
<div class="container-fluid grey-bg">
    <div class="container">
        <div class="row section">

        </div>
    </div>
</div>
